<div class="wrapper">
  <div class="form_card">
    <form class="form" [formGroup]="updateCategoryForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Section</mat-label>
        <mat-select formControlName="section_id">
          @for (section of sections; track section) {
          <mat-option [value]="section.sid">{{
            section.section_name
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category Name</mat-label>
        <input type="text" matInput formControlName="category_name" />
      </mat-form-field>

      <div class="btn_section">
        <button mat-stroked-button (click)="onRedirect()">Back</button>
        <button mat-flat-button color="primary">Submit</button>
      </div>
    </form>
  </div>
</div>
