<div class="wrapper">
  <header>
    <div></div>
    <button mat-flat-button (click)="onLogout()">logout</button>
  </header>
  <main>
    <div class="drawer">
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item class="list" (click)="onRedirect('category/list')"
          >Category</mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item class="list" (click)="onRedirect('user/list')"
          >User</mat-list-item
        >
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="container">
      <router-outlet />
    </div>
  </main>
  <footer></footer>
</div>
