<div class="wrapper">
  <div class="form_card">
    <form class="form" [formGroup]="updateSectionForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Section Name</mat-label>
        <input type="text" matInput formControlName="section_name" />
      </mat-form-field>

      <div class="btn_section">
        <button mat-stroked-button type="button" (click)="onRedirect()">
          Back
        </button>
        <button mat-flat-button type="submit" color="primary">Submit</button>
      </div>
    </form>
  </div>
</div>
