.form_card {
  width: 20rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.form {
  display: flex;
  flex-direction: column;
}

.btn_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
